<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Event</title>
  </head>
  <body>
    <p>Aadhar No: <%= aadhar %></p> 
    <p>Name: <%= firstname %> <%= lastname %></p>
    <p>Guardian Name: <%= guardianName %></p> 
    <p>Guardian Relation: <%= guardianRelation %></p> 
    <p>Age: <%= age %></p> 
    <p>Gender: <%= gender %></p>  
    <p>Email: <%= email %></p>  


  </body>
</html>